fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
sqlalchemy
alembic
psycopg[binary]
pytest
httpx
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pwdlib[bcrypt]
pwdlib[argon2]
scikit-learn
xgboost
numpy